/* Basic configuration for the Bovine TB pipeline */

manifest {
	author = "Richard Ellis"
	homePage = "https://github.com/ellisrichardj/BovTB-nf"
    description = "This is the updated pipeline for APHA's processing of Mycobacterium bovis WGS data. This has been built to run using nextflow"
    mainScript = "bTB-WGS_process.nf"
}

/* location of reference information */

params.ref = "$baseDir/references/AF2122.fna"
params.refgbk = "$baseDir/references/AF2122.gbk"
params.stage1pat = "$baseDir/references/Stage1_patterns/"
params.stage2pat = "$baseDir/references/Stage2_patterns/"

/* location of python scripts */

params.pypath = "$baseDir/pyscripts/"

/* quality thresholds */
env.min_mean_cov = 8
env.min_cov_snp = 5 
env.alt_prop_snp = 0.2 
env.min_qual_snp = 150
env.min_qual_nonsnp = 0

/* location of dependancies */

